<div class="container">

	<div class="row">
		<div class="center-block center">
			<img src="assets/img/burger.png" alt="burger">
		</div>
	</div><!-- end image row -->

	<div class="row burger-lists">
		<div class="col-sm-5 burger-list-box">
			<h3 class="center">List of burgers</h3>
			<ul>
				{{#each burgers}}
				{{#unless devoured}}
				<li>
					{{burger_name}}
					<form name="eatForm" id="eatForm" action="/devour/{{id}}" method="POST">
						<input type="hidden" name="devoured" value="true">
						<button class="btn btn-danger" id="eatButton" type="submit">
						eat me!
						</button>
					</form>
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-sm-2"></div><!-- empty col for spacing -->

		<div class="col-sm-5 burger-list-box">
			<h3 class="center">Burgers Devoured</h3>
			<ul>
				{{#each burgers}}
				{{#if devoured}}
				<li>{{burger_name}}</li>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div><!-- end burger list row -->

	<div class="row col-sm-12">
		<h2 class="center">Add a new burger to the list</h2>
		<div id="error-msg">
		{{#each msg}}
			{{#unless valid}}
			<span class="center label label-danger">
			{{error}}
			</span>
			{{/unless}}
		{{/each}}
		</div>
		<form name="burgerForm" id="burgerForm" action="/add" method="POST">
			<input type="text" name="burger_name" id="burgerInput">
			<button class="btn btn-success" type="submit" id="submitBurger">Submit</button>
		</form>
	</div><!-- end of submission form -->

</div><!-- end of container -->